.mainContainer{
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: url(./assets/fanfold.jpg) center center no-repeat;
  background-size: cover;
  background-attachment: fixed;
  font-family: 'Roboto Condensed', sans-serif;
}

.App-logo{
  width: 50%;
}

.App-subtitle{
  margin: 5vmin;
  font-size: 5vmin;
  font-weight: 400;
}

.launch_btn{
  display: block;
  width: 80%;
  font-size: 8vmin;
  padding: 2vmin;
  background-color: #e0e0e0;
}